body {
    font-size: 14px;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
}

a, a:visited {
    color: #1955a5;
}

a:hover {
    color: #3d73d5;
}

h3 {
    font-size: 1.17em;
}

#content li {
    margin-bottom: 10px;
}